{
  "$schema": "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json",
  "version": 2,
  "blocks": [
    {
      "type": "prompt",
      "alignment": "left",
      "segments": [
        {
          "type": "shell",
          "style": "diamond",
          "leading_diamond": "\u256d\u2500\ue0b6",
          "template": "\uf120 {{ .Name }} ",
          "background": "#2a273f",
          "foreground": "#0077c2"
        },
        {
          "type": "path",
          "style": "powerline",
          "powerline_symbol": "\ue0b0",
          "template": " \uf07b\uea9c {{ .Path }} ",
          "properties": {
            "folder_icon": " \uf07b ",
            "home_icon": "\ue617",
            "style": "folder"
          },
          "background": "#393552",
          "foreground": "#f6c177"
        },
        {
          "type": "git",
          "style": "powerline",
          "powerline_symbol": "\ue0b0",
          "foreground_templates": [
            "{{ if or (.Working.Changed) (.Staging.Changed) }}#f6c177{{ end }}",
            "{{ if and (gt .Ahead 0) (gt .Behind 0) }}{#9ccfd8{ end }}",
            "{{ if gt .Ahead 0 }}#c4a7e7{{ end }}",
            "{{ if gt .Behind 0 }}#c4a7e7{{ end }}"
          ],
          "template": " {{ .UpstreamIcon }}{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }} \uf044 {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}<#ea9a97> \uf046 {{ .Staging.String }}</>{{ end }} ",
          "properties": {
            "branch_icon": "\ue725 ",
            "fetch_status": true,
            "fetch_upstream_icon": true
          },
          "background": "#2a273f",
          "foreground": "#ea9a97"
        },
        {
          "type": "executiontime",
          "style": "diamond",
          "trailing_diamond": "\ue0b4",
          "template": " \ueba2 {{ .FormattedMs }}\u2800",
          "properties": {
            "style": "roundrock",
            "threshold": 0
          },
          "background": "#232136",
          "foreground": "#3e8fb0"
        }
      ]
    },
    {
      "type": "prompt",
      "alignment": "right",
      "segments": [
        {
          "type": "node",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue718 {{ if .PackageManagerIcon }}{{ .PackageManagerIcon }} {{ end }}{{ .Full }}",
          "properties": {
            "fetch_package_manager": true,
            "npm_icon": " <#cc3a3a>\ue5fa</> ",
            "yarn_icon": " <#348cba>\ue6a7</>"
          },
          "background": "#303030",
          "foreground": "#3C873A"
        },
        {
          "type": "python",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue235 {{ if .Error }}{{ .Error }}{{ else }}{{ if .Venv }}{{ .Venv }} {{ end }}{{ .Full }}{{ end }}",
          "background": "#306998",
          "foreground": "#FFE873"
        },
        {
          "type": "java",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue738 {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}",
          "background": "#0e8ac8",
          "foreground": "#e0def4"
        },
        {
          "type": "dotnet",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue77f {{ if .Unsupported }}\uf071{{ else }}{{ .Full }}{{ end }}",
          "background": "#0e0e0e",
          "foreground": "#0d6da8"
        },
        {
          "type": "go",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue626 {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}",
          "background": "#e0def4",
          "foreground": "#06aad5"
        },
        {
          "type": "rust",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue7a8 {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}",
          "background": "#f3f0ec",
          "foreground": "#925837"
        },
        {
          "type": "dart",
          "style": "diamond",
          "leading_diamond": " \ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue798 {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}",
          "background": "#e1e8e9",
          "foreground": "#055b9c"
        },
        {
          "type": "angular",
          "style": "diamond",
          "leading_diamond": " \ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue753 {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}",
          "background": "#e0def4",
          "foreground": "#ce092f"
        },
        {
          "type": "nx",
          "style": "diamond",
          "leading_diamond": " \ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "{{ if .Error }}{{ .Error }}{{ else }}Nx {{ .Full }}{{ end }}",
          "background": "#1e293b",
          "foreground": "#e0def4"
        },
        {
          "type": "julia",
          "style": "diamond",
          "leading_diamond": " \ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "<#ca3c34>\ue624</> {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}",
          "background": "#945bb3",
          "foreground": "#359a25"
        },
        {
          "type": "ruby",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue791 {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}",
          "background": "#e0def4",
          "foreground": "#9c1006"
        },
        {
          "type": "azfunc",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\uf104<#f5bf45>\uf0e7</>\uf105 {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}",
          "background": "#e0def4",
          "foreground": "#5398c2"
        },
        {
          "type": "aws",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4 ",
          "template": "\ue7ad {{.Profile}}{{if .Region}}@{{.Region}}{{end}}",
          "background": "#565656",
          "foreground": "#faa029"
        },
        {
          "type": "kubectl",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "\ue0b4",
          "template": "\uf308 {{.Context}}{{if .Namespace}} :: {{.Namespace}}{{end}}",
          "background": "#316ce4",
          "foreground": "#e0def4"
        },
        {
          "type": "os",
          "style": "diamond",
          "leading_diamond": "\ue0b6",
          "trailing_diamond": "<transparent,background>\ue0b2</>",
          "template": " {{ if .WSL }}WSL at {{ end }}{{.Icon}} ",
          "properties": {
            "linux": "\ue712",
            "macos": "\ue711",
            "windows": "\ue70f"
          },
          "background": "#232136",
          "foreground": "#ea9a97"
        },
        {
          "type": "time",
          "style": "diamond",
          "invert_powerline": true,
          "leading_diamond": "\ue0b2",
          "trailing_diamond": "\ue0b4",
          "template": " \uf073 {{ .CurrentDate | date .Format }} ",
          "properties": {
            "time_format": "_2,15:04"
          },
          "background": "#2a273f",
          "foreground": "#eb6f92"
        }
      ]
    },
    {
      "type": "prompt",
      "alignment": "left",
      "segments": [
        {
          "type": "text",
          "style": "plain",
          "template": "\u2570\u2500",
          "foreground": "#2a283e"
        },
        {
          "type": "status",
          "style": "plain",
          "foreground_templates": [
            "{{ if gt .Code 0 }}#ea9a97{{ end }}"
          ],
          "template": "-> ",
          "properties": {
            "always_enabled": true
          },
          "foreground": "#e0f8ff"
        }
      ],
      "newline": true
    }
  ]
}
